<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tax Calculator - Salary Breakdown Calculator{% endblock %}</title>
    <meta name="description" content="China/Singapore/USA (United States) Salary Calculator. Use our calculator to get a detailed breakdown of your salary and compare  across different countries. Calculate your net income, tax obligations, and more. For expats, this will be useful when negotiating your salary for your new job. CPF / Social Security / 401K / etc. are all accurately calculated">
    <link rel="canonical" href="https://salary-calculator.etzr.app">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Favicon -->
    <link rel="icon" href="https://raw.githubusercontent.com/etzr/img/main/salary-calculator%20icon.png" sizes="32x32" type="image/png">

    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebApplication",
      "name": "Tax Calculator",
      "description": "China/Singapore/USA (United States) Salary Calculator. Use our calculator to get a detailed breakdown of your salary and compare  across different countries. Calculate your net income, tax obligations, and more. For expats, this will be useful when negotiating your salary for your new job. CPF / Social Security / 401K / etc. are all accurately calculated",
      "url": "https://your-website.com",
      "applicationCategory": "FinanceCalculator",
      "screenshot": "https://raw.githubusercontent.com/etzr/img/main/salary-calculator%20full.png",
      "image": "https://raw.githubusercontent.com/etzr/img/main/salary-calculator%20full.png"
    }
    </script>

    <!-- Social Media Metadata -->
    <meta property="og:title" content="Tax Calculator - Salary Breakdown Calculator">
    <meta property="og:description" content="China/Singapore/USA (United States) Salary Calculator. Use our calculator to get a detailed breakdown of your salary and compare  across different countries. Calculate your net income, tax obligations, and more. For expats, this will be useful when negotiating your salary for your new job. CPF / Social Security / 401K / etc. are all accurately calculated">
    <meta property="og:url" content="https://salary-calculator.etzr.app">
    <meta property="og:image" content="https://raw.githubusercontent.com/etzr/img/2aeecf5466032ffa6a1c3f2cf05b1bc18df4aa1b/icon.png">

    <!-- Google Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5070332439216511"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CVQ4WD5C4E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CVQ4WD5C4E');
    </script>
</body>
</html>